    hr {
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #333;
        /* Modern Browsers */
    }
    
    img {
        box-shadow: 9px 8px 11px #999;
    }
    
    img:hover {
        opacity: .75;
        filter: alpha(opacity=75);
        /* For IE8 and earlier */
        border: 2px solid black;
        border-radius: 10px;
    }

    h5{
        font-size:11px;
        font-family: raleway;
    }