    hr {
        border: none;
        height: 2px;
        /* Set the hr color */
        color: #333;
        /* old IE */
        background-color: #333;
        /* Modern Browsers */
    }
    
    img {
        /*box-shadow: 7px 7px 10px #e1e1e1;*/
    }
    
    img:hover {
        opacity: .75;
        filter: alpha(opacity=75);
        /* For IE8 and earlier */
        /*border: 2px dashed navy;*/
        border-radius: 0px;
    }

    h5{
        font-size:11px;
        font-family: raleway;
    }

    .col-sm-12{
        margin-top:30px;
    }


.container-fluid {
    margin-right: 35px;
    margin-left: 35px;
  }

body{
    margin-bottom:50px;
}

.group{
    margin-right:10px;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    border:1px solid black;
    padding:0;
    height:200px;
}

.list-inline {
  white-space:nowrap;
}